doctype html
html(lang='pt')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Just Ask It

        link(rel="stylesheet", href="../public/css/layout.css")
        link(rel="stylesheet", href="../public/css/common.css")
        
        block style

    body
        a(href="/")
            img(
                src="../public/images/logo.png" 
                alt="Just Ask It" 
                class="logo"
                width="600px"
            )

        main
            block main 

        .space

        footer
            p created by 
                a(href="https://github.com/gp-pereira") gp-pereira 
                | 
                span and 
                |
                a(href="https://github.com/PkNeves") pkneves

        block script

        script(src="../../../../public/scripts/redirects.js") 


